html {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    font-size: 16px;
}   

body{
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.container button {
    background-color: rgba(248, 70, 70, 1);
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    padding: 1.1875rem 2rem;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, transform 0.5s;
    
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

#presentation-container {
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#presentation {
    width: 50vw;  
}

#presentation p {
    font-size: 1.25rem;
    line-height: 2.25;
    letter-spacing: 0.0125rem;
}

    /* Container */

.container {
    padding: 5rem 7.5rem;
    text-align: center;
}

.container p {
    margin-bottom: 1.875rem;
}

    /* O que oferecemos - Qualities */

#qualities {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 4rem;
}

#qualities > img {
    margin: 0 2.5rem;
}

    /* Backgrounds */

.background-gradient {
    background: linear-gradient(180deg, rgb(252, 250, 250) 0%, rgb(161, 161, 161) 100%);
}

.background-red {
    background-color: rgba(248, 70, 70, 1);
    color: white;
}

    /* Serviços - Articles */

.article-container {
    display: flex;
    margin-top: 6.5rem;
}

.article-container:nth-child(even) {
    flex-direction: row-reverse;
}

.article-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 0 2.5rem 0 0;
    justify-content: space-between;
}

.article-details h2 {
    color: #2E2E2E;
}

.article-details p {
    color: #808080; 
    padding-right: 4rem;
    margin: 2.5rem 0 2rem 0;
    line-height: 2.1;
}

.article-details button{
    font-size: 1rem;
}

.article-container:nth-child(even) > .article-details {
    margin-left: 5rem;
}

    /* Footer */

.footer-lists {
    display: flex;
    text-align: left;
    justify-content: space-between;
    line-height: 2.5;
}

.footer-lists ul li {
    list-style: none;
}

.footer-list-title {
    padding-bottom: .8rem;
    font-weight: 800;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 0 0;
}

.footer-copyright img {
    padding: .4rem;
}

    /* Qualities */

.container.QP h2 {
    font-size: 2.25rem;
    margin-top: 3rem;
}

#pQualidades {
    font-size: 1.2rem;
    line-height: 1.9;
    letter-spacing: 0.3px;
    margin: 1.8rem 8rem 5.6rem 8rem;
    max-width: 50rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.grid-item  {
    display: flex;              
    flex-direction: column;      
    align-items: center;        
    text-align: center;          
    justify-content: center;  
}

.grid-item h3 {
    margin-top: .8rem;
}

.grid-container-companies {
    display: grid;
    grid-template-areas:
            ". company-2 ."
    "company-1          company-4"
            ". company-3 .";
    
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.company-1 { grid-area: 3 / 3 / 4 / 4; } 
.company-2 { grid-area: 2 / 2 / 3 / 3; } 
.company-3 { grid-area: 2 / 3 / 3 / 4; } 
.company-4 { grid-area: 2 / 4 / 3 / 5; } 
.company-5 { grid-area: 1 / 3 / 2 / 4; } 




/*.company-1 { grid-area: company-1; }
.company-2 { grid-area: company-2; }
.company-3 { grid-area: company-3; }
.company-4 { grid-area: company-4; }
.company-5 { grid-area: company-5; }











/*.grid-container-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3;
}
