html {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}   

body{
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}
.container button {
    background-color: rgba(248, 70, 70, 1);
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    padding: 1.1875rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e2ecc;
}

#presentation-container {
    border: 1px solid black;
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#presentation {
    width: 37.5vw;
    position: relative;
    top: calc(50% - 9rem);
}

.container {
    text-align: center;
    padding: 10rem 7.5rem;
}

.container p {
    margin-bottom: 1.875rem;
    font-weight: 500;
}

.background-gradient {
    background: linear-gradient(180deg, rgb(252, 250, 250) 0%, rgb(161, 161, 161) 100%);
   
}